<%= form_with model: @dealer, local: true do |f| %>
  <div><%= f.label :name, "name" %><br><%= f.text_field :name %></div>
  <div style="margin-top:1rem"><%= f.submit "Add A Dealership" %></div>
<% end %>